.archive-container {
  grid-column: 1 / 13;
  background: rgba(white, .98);
  @include bp(m){
    grid-column: 2 / 12;    
  }
  z-index: 100;
}

.post-list-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 1rem;
  @include bp(m) {
    padding: 2rem;
    margin-bottom: 2rem;
  }
}

.archive-title {
  font-weight: bold;
  font-family: $compressed;
  font-size: var(--ms-2);
  @include bp(m) {
    font-size: var(--ms-3);
  }
  .query {
    border-bottom: 1px solid black;
  }
}

.archive-page {
  font-weight: normal;
  font-family: $compressed;
  font-size: var(--ms-1);
  @include bp(m){
    font-size: var(--ms-2);
  }
}
