.archive-container {
  background: white;
  border-radius: 3px;
  grid-column: 1 / 13;
  @include bp(m){
    grid-column: 2 / 12;
  }
  z-index: 100;
}

.archive-title {
  font-weight: bold;
  font-family: $sans;
  padding: 2rem;
  border-bottom: 1px solid lightgray;
  font-size: var(--ms-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include bp(m){
    margin-bottom: 2rem;
  }
  @include bp(l){
    font-size: var(--ms-3);
  }
}

.archive-page {
  font-weight: normal;
  font-size: var(--ms-1);
}
