* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-family: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

body {
  font-family: var(--sans);
  font-size: var(--ms-0);
  border-left: 10px solid $red;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: rgb(7, 7, 7);
  background: rgb(255, 255, 255);
  display: grid;
  font-family: $serif;
  grid-template-columns: 2fr 3fr; // Perfect 5
  column-gap: 1rem;
  padding: 1rem 5%;
  overflow-x: hidden;
  &.page {
    * {
      color: $red;
    }
  }
}

.btn {
  text-decoration: none;
  background: black;
  color: white;
  padding: .25em .5em;
  border-radius: 4px;
}
