* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-family: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

body {
  font-family: var(--sans);
  font-size: var(--ms-0);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: rgb(7, 7, 7);
  background: $lightgray;
  display: grid;
  font-family: $serif;
  column-gap: 1rem;
  padding: 0 3%;
  grid-template-columns: 1rem repeat(10, 1fr) 1rem;
  @include bp(l){
    grid-template-columns: repeat(12, 1fr);
    padding: 0 5%;
  }
  overflow-x: hidden;
  overflow-y: scroll;
}

::selection {
  background: $black;
  color: white;
}

.btn {
  text-decoration: none;
  background: black;
  color: white;
  padding: .4em 1em;
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  font-size: var(--ms--1);
  &:hover, &:focus {
    text-decoration: none;
    background: rgb(36, 36, 36);
  }
}
