.home-tabs {
  width: 100%;
  grid-column: 1 / 13;
  @include bp(m) {
    grid-column: 2 / 12;
  }
  z-index: 100;
  overflow: hidden;
  margin-top: 6rem;
  //  opacity: calc(var(--y) * 0.01);
}

.home-tablist {
  border-radius: $br;
  margin-bottom: 4px;
  padding: 1rem;
  background: white;
  display: flex;
  @include bp(s) {
    padding: 2rem;
  }
  button {
    background: none;
    appearance: none;
    font-family: $sans;
    width: 10em;
    font-size: var(--ms-0);
    text-align: left;
    cursor: pointer;
    font-weight: 400;
    &:before {
      content: "";
      background: currentColor;
      width: 0.5em;
      height: 0.5em;
      display: inline-block;
      border-radius: 100%;
      margin-right: 0.5em;
      position: relative;
      top: -0.1em;
      opacity: 0;
      transition: $fast;
      transform: scale(0);
    }
    &[aria-selected="true"] {
      font-weight: bold;
      &:before {
        opacity: 1;
        transform: scale(1);
      }
    }
    &:hover,
    &:focus {
      text-decoration: underline;
      outline: 0;
    }
  }
}

.view-all {
  font-family: $sans;
}
