.home-sections {
  grid-column: 1 / 13;
  display: flex;
  width: 100%;
  border: 1px solid black;
}

.home-sections-nav {
  border: 1px solid black;
  display: flex;
  border-bottom: 0;
  padding: .5rem 0;
  border-radius: .5rem .5rem 0 0;
  width: 100%;
  grid-column: 1 / 13;
  justify-content: space-around;
  font-family: $sans;
  
  button {
    appearance: none;
    background: none;
    font-weight: bold;
    margin-right: 1rem;
    font-size: var(--ms-0);
  }
}
.home-section {
  flex-grow: 1;
  width: 100vw;
  &:last-of-type {
    border-left: 1px solid black;
  }
}

.post-list-item {
  border-bottom: 1px solid black;
  padding: .5rem;
  img {
    filter: grayscale(1);
  }
}

.post-list-title {
  font-family: $sans;
  font-weight: 600;
  font-size: var(--ms-0);
  text-decoration: none;
  line-height: 1.15;
  letter-spacing: .001em;
}

.post-list-meta {
  font-family: $sans;
  font-size: var(--ms--1);
}