.home-sections {
  width: 100%;
  display: contents;
}

.home-sections-nav {
  display: flex;
  border-bottom: 0;
  padding: 0.5rem 0;
  border-radius: 0.1rem 0.1rem 0 0;
  width: 100%;
  justify-content: space-around;
  font-family: $sans;

  button {
    color: black;
    appearance: none;
    background: none;
    font-weight: bold;
    margin-right: 1rem;
    font-size: var(--ms-1);
  }
}
.home-section {
  width: 100%;
  grid-column: 2 / 3;
  h2 {
    padding-top: 2rem;
    font-family: $sans;
    font-weight: 500;
    grid-column: 2 / 3;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    top: 2%;
  }
}

.post-list-item {
  padding-top: 1rem;
  padding-bottom: 2rem;
  grid-column: 2 / 3;
  display: block;
  width: 100%;
  border-top: 1px solid rgb(10, 10, 10);
}

.post-list-info {
  display: flex;
}

.post-list-thumbnail {
  padding-left: 1rem;
  img,
  picture {
    filter: grayscale(1);
    border-radius: 2px;
    margin-bottom: 0.5rem;
    mix-blend-mode: multiply;
    height: 10rem;
    width: auto;
    display: block;
  }
}

.post-list-title {
  font-family: $sans;
  font-weight: 600;
  font-size: var(--ms-2);
  text-decoration: none;
  line-height: 1;
  margin-bottom: .5rem;
  letter-spacing: -0.002em;
  display: inline-block;
}

.post-list-subtitle {
  font-size: var(--ms-0);
  font-family: $serif;
  max-width: 20em;
  margin-bottom: 0.5rem;
}

.post-list-meta {
  font-family: $sans;
  font-size: 1.2rem;
  margin-bottom: .5rem;
}
