.post-list {
  border-radius: $br;
}
.post-list-item {
  padding: 1rem;
  display: flex;
  border-bottom: 1px solid $lightgray;
  flex-flow: column;
  @include bp(m) {
    flex-flow: row;
    padding: 2rem;
    padding-top: 1.8rem;
    padding-bottom: 3.5rem;
  }
  &:hover {
    img,
    picture {
      filter: grayscale(0) blur(0);
    }
  }
}

.post-list-thumbnail {
  position: relative;
  display: none;
  height: 12rem;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.post-list-title {
  font-family: $serif;
  font-size: var(--ms-1);
  font-weight: bold;
  @include bp(s) {
    font-weight: normal;
    font-size: var(--ms-2);
  }
  @include bp(m) {
    font-size: var(--ms-3);
  }
  max-width: 20em;
  text-decoration: none;
  line-height: 1;
  display: inline-block;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.post-list-subtitle {
  font-size: var(--ms-0);
  margin-bottom: .5rem;
  @include bp(m){
    font-size: var(--ms-1);
    margin-bottom: 1rem;
  }
  font-family: $sans;
  max-width: 20em;
  line-height: 1.1;
  margin-top: 0.25rem;
}

.post-list-meta {
  font-family: $sans;
  font-size: var(--ms--1);
  flex-basis: 30%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  padding-bottom: 0.5rem;
  @include bp(m) {
    padding-bottom: 0;
    flex-flow: column;
  }
  .walk-status {
    margin-right: 1rem;
    @include bp(m) {
      margin-right: 0;
    }
  }
}

.post-list-footer {
  padding: 1rem;
  @include bp(m) {
    padding: 2rem;
  }
}

.pagination-block {
  width: 100%;
  display: flex;
  padding: 1rem;
  @include bp(m) {
    padding: 2rem;
    justify-content: flex-end;
  }
}
.pagination {
  display: flex;
  flex-basis: 70%;
  flex-grow: 0;
  font-family: $sans;
  justify-content: flex-start;
  li {
    list-style: none;
    margin-right: .1em;
  }
  .disabled {
    display: none;
  }
  a {
    @extend .btn;
  }
}