.article {
  background: white;
  color: $black;
  grid-column: 1 / 13;
  padding: 1.5rem;
  @include bp(m) {
    padding: 2rem;
    padding-top: 5%;
    padding-bottom: 5%;
    grid-column: 2 / 12;
  }
  @include bp(l) {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  display: grid;
  border-radius: 3px;
  position: relative;
  z-index: 100;
  grid-template-columns: 1fr minmax(auto, 43rem) 1fr;
}

.tag-list {
  font-family: $sans;
  list-style: none;
  font-size: var(--ms--1);
  margin-left: 0 !important;
  .tag {
    color: rgba($black, 0.5);
    display: inline-block;
    margin-right: 0.5em;
    a {
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
    &:before {
      content: "#";
    }
  }
}

.article-title {
  line-height: 1;
  font-family: $serif;
  text-align: left;
  margin-bottom: 2.5rem;
  font-size: var(--ms-3);
  letter-spacing: -.01em;
  @include bp(m) {
    margin-bottom: 3rem;
    font-weight: normal;
    font-size: var(--ms-4);
  }
}

.article-header {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  grid-column: 1 / 4;
  margin-bottom: 1rem;
  @include bp(m) {
    margin-bottom: 10%;
    grid-column: 2 / 3;
  }
  @include bp(l) {
    margin-bottom: 12%;
  }
  .walk-status {
    margin-bottom: 1em;
  }
  .post-thumbnail {
    max-height: 26rem;
  }
}

.article-intro {
  font-size: var(--ms-2);
  font-family: $sans;
  line-height: 1.2;
  font-weight: 400;
  margin-top: -2rem;
  margin-bottom: 2rem;
  max-width: 20em;
}

.article-content {
  font-family: $sans;
  font-size: var(--ms-0);
  hyphens: auto;
  display: contents;
  letter-spacing: 0.021em;
  line-height: 1.3;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  p,
  [class*="wp-block"] {
    grid-column: 2 / 3;
  }
  p {
    margin-bottom: 1em;
  }
  strong {
    font-weight: bold;
  }
  ul,
  ol {
    margin-left: 1em;
    margin-bottom: 0.5em;
  }
  h2 {
    font-family: $sans;
    margin-top: 4em;
    font-size: var(--ms-1);
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  h3 {
    font-family: $sans;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0.5em;
  }
  img {
    display: block;
    height: auto;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    grid-column: 2 / 3;
  }
  .wp-block-quote {
    margin-left: 4em;
    width: calc(100% - 4em);
    margin-bottom: 1em;
    p {
      margin-bottom: 0.2em;
    }
    em {
      font-style: normal;
    }
    cite {
      font-size: var(--ms--1);
      font-style: normal;
      font-family: $sans;
      font-weight: normal;
      display: block;
    }
  }
  .wp-block-verse {
    grid-column: 2 / 3;
    font-size: var(--ms-1);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .wp-block-image {
    margin-top: 2rem;
    grid-column: 1 / 4;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 0rem;
    @include bp(m){
      margin-bottom: 2rem;
    }
    &:first-child {
      margin-top: 0;
      grid-column: 2 / 3;
      img {
        margin-top: 0;
      }
    }
    img {
      width: auto;
      max-width: 100%;
      max-height: 80vh;
    }
    strong {
      font-weight: bold;
    }
    figcaption {
      text-align: center;
      font-family: $sans;
      max-width: 30em;
      line-height: 1.2;
      font-size: var(--ms--1);
    }
  }
  .wp-block-gallery {
    grid-column: 1 / 4;
    display: grid;
    width: 100%;
    column-gap: 2%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    z-index: 100;
    &.columns-1 {
      grid-template-columns: 1fr;
      @include bp(l) {
        li:nth-of-type(2n-1) {
          margin-left: 5%;
        }
        li:nth-of-type(2n) {
          margin-left: -5%;
        }
      }
    }
    &.columns-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &.columns-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &.columns-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    ul {
      display: contents;
    }
    li {
      margin-bottom: 5%;
      grid-column: span 1;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      max-width: 100%;
    }
    img {
      margin-bottom: 0.5rem;
      border-radius: 2px;
    }
    li {
      list-style: none;
    }
    figcaption {
      color: rgb(0, 0, 0);
      font-family: $sans;
      letter-spacing: 0.02em;
      font-size: var(--ms--1);
      line-height: 1.1;
      text-align: center;
    }
  }
}

.post-authors {
  list-style: none;
  margin-left: 0 !important;
  font-weight: normal;
  .name {
    font-weight: bold;
    white-space: nowrap;
  }
}

.post-sidebar {
  grid-column: 1 / 4;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  @include bp(m) {
    grid-column: 2 / 3;
  }
  @include bp(l) {
    margin-bottom: 0;
    grid-column: 1 / 2;
    justify-self: center;
    flex-flow: column;
    padding-right: 2rem;
  }
  padding-top: 0.5rem; //optical correction
  font-size: var(--ms--1);
  grid-row: 2;
  font-family: $sans;
  .post-authors,
  .date {
    display: block;
    margin-bottom: 0.5em;
  }
}

.post-date {
  display: block;
  margin-bottom: 2em;
  font-family: $sans;
  font-size: var(--ms--1);
  @include bp(m){
    margin-bottom: 1em;
    font-size: var(--ms-0);
  }
  em {
    font-style: normal;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.newsletter-form {
  grid-column: 2 / 3;
  font-family: $sans;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  font-size: var(--ms--1);
  input {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: 1px solid $gray;
    &:focus {
      border-color: $black;
    }
    &::placeholder {
      color: $gray;
    }
  }
  label {
    margin-bottom: 0.5rem;
    display: block;
    letter-spacing: 0.005em;
    max-width: 25em;
  }
  .email {
    margin-right: 0.5rem;
    flex-basis: 20rem;
  }
  .scroll {
    display: flex;
  }
  .button {
    @extend .btn;
    padding: 0.5rem 1rem;
  }
}
