.article {
  background: white;
  grid-column: 1 / 13;
  padding: 1.5rem;
  @include bp(m){
    padding: 2rem;
    padding-bottom: 10%;
    grid-column: 2 / 12;
  }
  display: grid;
  border-radius: 3px;
  position: relative;
  z-index: 100;
  grid-template-columns: 1fr minmax(auto, 45rem) 1fr;
}

.article-title {
  line-height: 1;
  font-family: $serif;
  text-align: center;
  margin-bottom: 1em;
  font-size: var(--ms-2);
  letter-spacing: -.003em;
  padding-top: 1em;
  @include bp(m) {
    font-size: var(--ms-3);
  }
}

.article-header {
  display: flex;
  flex-flow: column;
  align-items: center;
  grid-column: 1 / 4;
  @include bp(l){
    grid-column: 2 / 3;
  }
  margin-bottom: 2em;
  .walk-status {
    margin-bottom: 1em;
  }
}

.article-thumbnail {
  display: block;
  margin-bottom: 2rem;

  mix-blend-mode: multiply;
  display: flex;
  img {
    max-height: 40vh;
    width: auto;
    max-width: 100%;
  }
  & + .article-title {
    margin-top: 0;
  }
}

.article-intro {
  font-size: var(--ms-1);
  margin-bottom: 1rem;
  margin-top: -1em;
  font-family: $sans;
  text-align: center;
  line-height: 1.1;
  font-weight: 500;
}
.article-meta {
  font-family: $sans;
  font-size: var(--ms--1);
  padding-top: 1rem;
  font-weight: 600;
  max-width: 45rem;
  grid-column: 2 / 3;
}
.article-content {
  font-family: $sans;
  font-size: var(--ms-0);
  hyphens: auto;
  display: contents;
  letter-spacing: 0.02em;
  line-height: 1.3;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  p, [class*=wp-block] {
    grid-column: 2 / 3;
  }
  p {
    margin-bottom: 1em;
  }
  p + p {
    margin-top: -1em;
    text-indent: 4em;
  }
  ul,
  ol {
    margin-left: 1em;
    margin-bottom: 0.5em;
  }
  h2 {
    font-family: $sans;
    margin-top: 4em;
    font-size: var(--ms-1);
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  h3 {
    font-family: $sans;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0.5em;
  }
  img {
    display: block;
    height: auto;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    grid-column: 2 / 3;
  }
  .wp-block-quote {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-style: normal;
    line-height: 1.19;
    margin-left: 4em;
    width: calc(100% - 4em);
    position: relative;
    &:before {
      position: absolute;
      height: 98%;
      width: 1.5em;
      top: 0.2em;
      left: -2.5rem;
      background: url("./assets/pattern.png");
      background-size: 4px;
      mix-blend-mode: multiply;
    }
    em {
      font-style: normal;
    }
    cite {
      font-size: var(--ms--1);
      font-style: normal;
      font-family: $sans;
      font-weight: normal;
      display: block;
      margin-top: 0.5rem;
    }
  }
  .wp-block-verse {
    grid-column: 2 / 3;
    font-size: var(--ms-1);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .wp-block-image {
    margin-top: 4rem;
    margin-bottom: 4rem;
    grid-column: 1 / 4;
    display: flex;
    flex-flow: column;
    align-items: center;
    img {
      width: auto;
      max-width: 100%;
      max-height: 80vh;
    }
    strong {
      font-weight: bold;
    }
    figcaption {
      text-align: center;
      font-family: $sans;
      max-width: 30em;
      line-height: 1.2;
      font-size: var(--ms--1);
    }
  }
  .wp-block-gallery {
    grid-column: 1 / 4;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    z-index: 100;
    &.columns-1 {
      grid-template-columns: 1fr;
    }
    &.columns-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &.columns-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &.columns-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    ul {
      display: contents;
    }
    li {
      margin-bottom: 10%;
      grid-column: span 1;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }
    img {
      border-radius: 2px;
      margin-bottom: 0.5rem;
    }
    li {
      list-style: none;
    }
    figcaption {
      color: rgb(0, 0, 0);
      font-family: $sans;
      letter-spacing: 0.02em;
      font-size: var(--ms--1);
      line-height: 1.1;
      text-align: center;
    }
  }
}

.post-authors {
  list-style: none;
  margin-left: 0 !important;
  font-weight: normal;
  .name {
    font-weight: 600;
  }
}

.post-date {
  font-family: $sans;
  margin-bottom: 1em;
}

.newsletter-form {
  grid-column: 2 / 3;
  font-family: $sans;
  margin-top: 4rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-size: var(--ms--1);
  input {
    padding: .5rem 1rem; 
    border-radius: 3px;
    border: 1px solid lightgray;
  }
  label {
    margin-bottom: .5rem;
    display: block;
    letter-spacing: .005em;
    max-width: 25em;
  }
  .email {
    margin-right: .5rem;
    flex-basis: 20rem;
  }
  .scroll {
    display: flex;
  }
  .button {
    @extend .btn;
    padding: .5rem 1rem; 
  }
}