.site-pattern {
  background: black;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  left: 0;
  position: fixed;
  clip-path: url(#cp);
  pointer-events: none;
  mix-blend-mode: multiply;
  //  filter: grayscale(0) blur(3px) brightness(1.1);
}

.site-header {
  padding-bottom: 10rem;
  width: 100%;
  display: flex;
  top: 0;
  position: sticky;
  flex-flow: column-reverse;
  font-family: $serif;
  grid-column: 1 / 13;
  opacity: calc(1.1 - var(--y) * .0016);
  padding-top: 1rem;
  font-size: var(--ms-1);
  @include bp(m) {
    font-size: var(--ms-2);
    padding-top: 2rem;
    grid-column: 2 / 12;
  }
  a {
    font-family: $sans;
    font-size: 0.91em;
    font-weight: 600;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  p {
    padding-top: 1rem;
    max-width: 30em;
  }
  svg {
    width: 100vw;
    pointer-events: none;
    position: absolute;
    path {
      fill: $red;
    }
  }
}

.site-footer {
  grid-column: 1 / 13;
  padding-bottom: 1rem;
  padding-top: 50vh;
  @include bp(m) {
    grid-column: 2 / 12;
    padding-top: 80vh;
    padding-bottom: 4rem;
  }
  font-family: $sans;
  line-height: 1.2;
  font-size: var(--ms--1);
  nav {
    margin-bottom: 1em;
    max-width: 20em;
  }
  span {
    opacity: 0.7;
    display: block;
  }
}
