.site-header {
  grid-column: 1 / 13;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  color: black;
  overflow: hidden;
  svg {
    width: 100%;
    pointer-events: none;
    position: absolute;
    top: -40%;
    mix-blend-mode: exclusion;
    path {
      fill: none;
      stroke: rgb(89, 117, 195);
      stroke-width: 4vw;
    }
  }
  .home & {
    padding-top: 5%;
    display: grid;
    padding-bottom: 15%;
    grid-template-columns: 1fr 1fr;
    position: static;
    background-size: 120%;
    margin-bottom: 2rem;
    background-position: center;
  }
}

.site-title {
  font-family: $sans;
  font-size: var(--ms-0);
  letter-spacing: -.01em;
  grid-column: 2;
  text-align: center;
  .home & {
    text-align: left;
    font-size: var(--ms-3);
  }
  a {
    font-weight: 600;
    text-decoration: none;
  }
}

.site-footer {
  grid-column: 1 / 13;
  font-family: $sans;
  padding-top: 4rem;
  font-size: var(--ms--1);
}
