@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 1850px) {
      @content;
    }
  } @else if $point==l {
    @media (min-width: 1400px) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 500px) {
      @content;
    }
  }
}
@import url("https://use.typekit.net/ujm1gkz.css");

$green: rgb(0, 114, 0);
$red: #f51803;
$gray: rgb(144, 139, 132);
$lightgray: rgb(233, 227, 221);
$gold: rgb(124, 86, 25);
$serif: TimesNewRoman, "Times New Roman", Times, Georgia, serif;
$sans: "franklin-gothic-urw", "Arial", sans-serif;
$compressed: "franklin-gothic-urw-comp", "Arial", sans-serif;
$fast: 200ms;
$black: rgb(8, 6, 4);
$darkgray: rgb(42, 33, 22);
$br: 3px;
:root {
  --fast: 250ms;
  --ratio: 1.3; // Major 3
  --ms--1: .95rem;
  @include bp(m){
    --ms--1: 1rem;
  }
  --ms-0: clamp(1.1rem, 2.53vw, 1.28rem);
  --ms-1: calc(var(--ms-0) * var(--ratio));
  --ms-2: calc(var(--ms-1) * var(--ratio));
  --ms-3: calc(var(--ms-2) * var(--ratio));
  --ms-4: calc(var(--ms-3) * var(--ratio));
  --ms-5: calc(var(--ms-4) * var(--ratio));
  --ms-6: calc(var(--ms-5) * var(--ratio));
}
