.walk-data {
  font-family: $sans;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 1.2rem;
  line-height: 1.2;
  justify-self: flex-start;
  align-self: flex-start;
  width: 80%;
  max-width: 35rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
  grid-column: 2 / 3;
  summary {
    padding: 1rem;
    cursor: pointer;
  }
}

.walk-status {
    grid-column: 2 / 3;
    font-size: 1.2rem;
    font-family: $sans;
    margin-bottom: 1rem;
}

.walk-data-item {
  padding: 1rem;
  border-bottom: 1px solid black;
  &:last-of-type {
      border-bottom: 0;
  }
  em {
    font-weight: bold;
    font-style: normal;
    flex-basis: 45%;
    flex-shrink: 0;
  }
  span {
    display: block;
  }
  display: flex;
}
