.walk-data {
  font-family: $sans;
  border: 1px solid rgb(12, 12, 12);
  border-radius: 3px;
  font-size: 1.2rem;
  line-height: 1.2;
  max-width: 45rem;
  padding: 0;
  margin-top: 0rem;
  margin-bottom: 2rem;
  grid-column: 2 / 3;
  font-size: var(--ms-0);
  @include bp(m) {
    font-size: var(--ms--1);
  }
  &[open] summary {
    border-bottom: 1px solid black;
  }
  summary {
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;

  }
  ul {
    margin: 0;
    width: 100%;
  }
}

.walk-status {
  grid-column: 2 / 3;
  font-family: $sans;
  svg {
    margin-right: 0.2rem;
    position: relative;
    top: -0.1em;
  }
  .upcoming {
    font-weight: bold;
  }
}

.walk-data-item {
  padding: .8rem 1rem;
  list-style: none;
  border-bottom: 1px solid lightgray;
  display: flex;
  .btn {
    display: inline-block;
    margin-top: .5em;
    padding: .3em .8em;
  }
  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
  }
  em {
    font-weight: bold;
    font-style: normal;
    flex-basis: 35%;
    flex-shrink: 0;
  }
  span {
    display: block;
  }
}
