<footer class="site-footer">
    <nav class="site-nav" role="navigation">
        {% include "menu.twig" with {'items': menu.get_items} %}
    </nav>
    <span>
        © The Walkative Project 2015–{{"now"|date('Y')}}.
    </span>
    <span>
        Texts and images belong to their respective authors. Site by <a href="https://maxkoehler.com/">mk</a>.
    </span>
</footer>

<script src="{{theme.link}}/dist/dist.js?v=1.2"></script>