{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{post.post_type}} article" id="post-{{post.ID}}">
	<header class="article-header">
		<h1 class="article-title">{{post.title}}</h1>
	</header>
	<section class="article-content">
		<main class="article-content">
			{{post.content}}
		</main>
		{% if post.title == "About" %}
		<section class="contributors">
			<h2>Contributors</h2>
			<h3>Current</h3>
			{% for c in current_contributors %}
			{% include "partial/contributor.twig" with {"contributor": c} %}
			{% endfor %}
			<h3>Past</h3>
			{% for c in past_contributors %}
			{% include "partial/contributor.twig" with {"contributor": c} %}
			{% endfor %}
		</section>
		{% endif %}
	</section>
</article>
{% endblock %}