{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{post.post_type}} article" id="post-{{post.ID}}">
	<section class="article-content">
		<h1 class="article-title">{{post.title}}</h1>
		<main class="article-content">
			{{post.content}}
		</main>
	</section>
</article>
{% endblock %}