{% extends "base.twig" %}

{% block content %}

{# https://www.w3.org/TR/wai-aria-practices/examples/tabs/tabs-1/tabs.html #}

<section class="home-tabs">
    <div class='home-tablist' role='tablist'>
        <button role='tab' aria-selected="true" aria-controls="walks-tab" id="walks">Walks and Events</button>
        <button role='tab' aria-selected="false" aria-controls="blog-tab" id="blog">Articles</button>
    </div>
    <section class="home-tab walks post-list" id="walks-tab" role="tabpanel" aria-labelledby="walks">
        {% for post in walks %}
        <article class="post-list-item">
            {% include '/partial/tease-walk.twig' %}
        </article>
        {% endfor %}
        <footer class='post-list-footer'>
            <a class='view-all' href="/walk/">View all events</a>
        </footer>
    </section>

    <section class="home-tab blog" id="blog-tab" role="tabpanel" aria-labelledby="blog" hidden="hidden">
        {% for post in home_posts %}
        <article class="post-list-item">
            {% include '/partial/tease-walk.twig' %}
        </article>
        {% endfor %}
        <footer class='post-list-footer'>
            <a class='view-all' href="/blog/">View all articles</a>
        </footer>
    </section>
</section>

{% endblock %}