<h1 class="site-title" role="banner">
    <a href="{{site.url}}" rel="home">{{site.name}}</a>
    {% if isHome %}
    {% endif %}
</h1>


<!-- <nav id="nav-main" class="nav-main" role="navigation">
    {% include "menu.twig" with {'items': menu.get_items} %}
    </nav>#nav -->