<p>
    Through participant and guest-led walks, written and visual documentation, <a href="{{site.url}}" rel="home">the Walkative Project</a> explores how walking can trigger processes of thinking, researching, collaborating and making.
</p>
<nav class="site-nav" role="navigation">
    {% include "menu.twig" with {'items': menu.get_items} %}
</nav>

<svg class="line"></svg>