{% if posts.pagination.pages is not empty %}
<footer class="pagination-block post-list-footer">
    <ul class="pagination">
        {# Previous #}
        {% if posts.pagination.prev %}
        <li class="prev">
            <a href="{{ posts.pagination.prev.link }}">Previous</a>
        </li>
        {% else %}
        <li class="prev disabled">
            <button class='' disabled>Previous</button>
        </li>
        {% endif %}

        {# Next #}
        {% if posts.pagination.next %}
        <li class="next ">
            <a href="{{ posts.pagination.next.link }}">Next</a>
        </li>
        {% else %}
        <li class="next disabled">
            <button disabled>Next</button>
        </li>
        {% endif %}

    </ul>
</footer>
{% endif %}