{% block content %}

<div class="post-list-meta">
	{% include "partial/walk-status.twig"%} {{post.start_date | date("F d, Y")}}
</div>
<div>
	<a class='post-list-title' href="{{post.link}}">
		<h3>{{ post.title }}</h3>
	</a>
	<p class='post-list-subtitle'>{{ post.subtitle }}</p>
</div>


{% endblock %}