{% set now = "now" | date("U") %}
{% set start = post.start_date | date("U") %}
<h4 class="walk-status">
    {% if now < start %}
    <span class="upcoming">
        Upcoming
    </span>
    {% else %}
    <span class="past">Past</span>
    {% endif %}
</h4>